FORMAT: 1A
HOST: http://events.oakscastle.org/

# Oaks Management

This is a service for collectively managing a shared space.

[The project roadmap is coalescing on GitHub.](//github.com/oakscastle/event)

# Group Areas

Areas recursively represent the spaces available for perusal.

## Area with Descendants [/v1/areas/{id}/tree]

+ Parameters
  - id: house (string) - guid of area to return

### Show [GET]

+ Request
    + Headers
    
            Location: /v1/areas/house/tree

+ Response 200 (application/json)

    + Attributes (house_tree)

## Area Reservations [/v1/areas/{id}/reservations/tree{?from,to}]

Return all reservatons for an area and its descendants.

+ Attributes
    - reservations (array)
        - (object)
            - id: *MJHGT7* (required) - reservation guid
            - for: *kitchen* (required) - area guid
            - starts_at: *`2015-11-21@17:54`* - commencement time
            - ends_at: *`2015-11-21@17:54`* - termination time

### Show [GET]

+ Response 200 (application/json)

    + Attributes(Area Reservations)

## Area Events [/v1/areas/{id}/events{?from,to}]

Return event info for an area.

+ Attributes
    - events (array)
        - (object)
            - id: *wedding* (string, required) - event guid
            - name: *Bob & Alice Get Hitched*
            - starts_at: `2015-11-21@17:54` (string) - commencement time
            - ends_at: `2015-11-21@17:54` (string) - termination time

### Show [GET]

+ Response 200 (application/json)

    + Attributes(Area Events)

# Group Events

## Event with Parts [/v1/events/{id}/tree]

Return an event and all its descendants.



# Data Structures

# position (object)
- x: *5* (number)
- y: *10* (number)

# size (object)
- width: *10* (number)
- height: *20* (number)

# area
- area
    - id: *FED210* (string, required) - object guid
    - name: *The Oaks Castle*
    - image_url: *//i.io/t.svg* (string) - svg to load
    - contains (array[child])

# child
- id: *h9iAjB* (string) - area guid
- position (position) - in the containing Area
- size (size) - in the containing Area

# house_single
- area
    - id: house
    - image_url: house.svg
    - contains (array)
        - (object)
            - id: kitchen
            - position
                - x: 50 (number)
                - y: 50 (number)
            - size (object)
                - width: 100 (number)
                - height: 50 (number)
        - (object)
            - id: den
            - position
                - x: 25 (number)
                - y: 20 (number)
            - size
                - width: 100 (number)
                - height: 50 (number)

# house_tree
- areas (array)
    - (house_single)
    - (object)
        - id: kitchen
        - image_url: kitchen.svg
    - (object)
        - id: den
        - image_url: den.svg
        - contains (array)
            - id: tv
            - position
                - x: 25 (number)
                - y: 25(number)
            - size
                - width: 10 (number)
                - height: 10 (number)
    - (object)
        - id: tv
        - image: tv.svg