FORMAT: 1A
HOST: http://events.oakscastle.org/

# Oaks Management

This is a service for collectively managing a shared space.

The project roadmap coalescing [on GitHub](//github.com/oakscastle/event).

# Group Areas

## Area [/v1/areas/{guid}]

+ Parameters
  - id (string) - guid of area to display

+ Attributes
    - id: *FED210* (string, required) - object guid
    - image_url: *ipfs:rAndOmHash* (string) - svg to load
    - contains (array)
        - (object)
            - id: *h9iAjB* (string) - area guid
            - position (position) - in the containing Area
            - size (size) - in the containing Area

### Show [GET]

+ Request

    + Headers
    
            Location: /v1/areas/house

+ Response 200 (application/json)

+ Attributes (house_single)
        
## Area with Descendants [/v1/areas/{guid}/tree]

### Show [GET]

+ Request

    + Headers
    
            Location: /v1/areas/house/tree

+ Response 200 (application/json)

    + Attributes (house_tree)

# Data Structures

# position (object)
- x: 5 (number)
- y: 10 (number)

# size (object)
- width: 10 (number)
- height: 20 (number)

# house_single
- id: house
- image_url: house.svg
- contains (array)
    - (object)
        - id: kitchen
        - position
            - x: 50 (number)
            - y: 50 (number)
        - size (object)
            - width: 100 (number)
            - height: 50 (number)
    - (object)
        - id: den
        - position
            - x: 25 (number)
            - y: 20 (number)
        - size
            - width: 100 (number)
            - height: 50 (number)

# house_tree (array)
- (house_single)
- (object)
    - id: kitchen
    - image_url: kitchen.svg
- (object)
    - id: den
    - image_url: den.svg
    - contains (array)
        - id: tv
        - position
            - x: 25 (number)
            - y: 25(number)
        - size: (object)
            - width: 10 (number)
            - height: 10 (number)
- (object)
    - id: tv
    - image: tv.svg