FORMAT: 1A
HOST: http://events.oakscastle.org/

# Oaks Management

This is a service for collectively managing a shared space.

[The project roadmap is coalescing on GitHub.](//github.com/oakscastle/event)

# Group Areas

Areas recursively represent the spaces available for perusal.

## Area with Descendants [/v1/areas/{id}/tree]

+ Parameters
  - id: house (string) - guid of area to return

+ Attributes (array)
    - areas (object)
        - id: *FED210* (string, required) - object guid
        - name: The Oaks Castle (string)
        - image_url: *ipfs:rAndOmHash* (string) - svg to load
        - contains (array)
            - (object)
                - id: *h9iAjB* (string) - area guid
                - position (position) - in the containing Area
                - size (size) - in the containing Area

### Show [GET]

+ Request Empty (application/json)
    + Headers

            Content-Lenght: 0

+ Response 200 (application/json)

    + Attributes (Area with Descendants)

+ Request
    + Headers
    
            Location: /v1/areas/house/tree

+ Response 200 (application/json)

    + Attributes (house_tree)

# Group Events

## Area Events [/v1/areas/{id}/events{?from,to}]

Return events for an area.

+ Attributes (array)
    - id: *wedding* (string, required) - event guid
    - in: *house* (string) - area guid
    - starts_at: `2015-11-21@17:54` (string) - commencement time
    - ends_at: `2015-11-21@17:54` (string) - termination time
    - adds (array) - areas added for the event
        - (object)
            - id: *h9iAjB* (string) - area guid
            - position (position) - in the containing Area
            - size (size) - in the containing Area
    - parts: dinner, dance, toasts (array[string]) - guids of constituent events

### Show [GET]

+ Response 200 (application/json)

    + Attributes(Area Events)

# Data Structures

# position (object)
- x: 5 (number)
- y: 10 (number)

# size (object)
- width: 10 (number)
- height: 20 (number)

# house_single
- id: house
- image_url: house.svg
- contains (array)
    - (object)
        - id: kitchen
        - position
            - x: 50 (number)
            - y: 50 (number)
        - size (object)
            - width: 100 (number)
            - height: 50 (number)
    - (object)
        - id: den
        - position
            - x: 25 (number)
            - y: 20 (number)
        - size
            - width: 100 (number)
            - height: 50 (number)

# house_tree (array)
- (house_single)
- (object)
    - id: kitchen
    - image_url: kitchen.svg
- (object)
    - id: den
    - image_url: den.svg
    - contains (array)
        - id: tv
        - position
            - x: 25 (number)
            - y: 25(number)
        - size
            - width: 10 (number)
            - height: 10 (number)
- (object)
    - id: tv
    - image: tv.svg