FORMAT: 1A
HOST: http://events.oakscastle.org/

# Oaks Management

This is a service for collectively managing a shared space.

[The project roadmap is coalescing on GitHub.](//github.com/oakscastle/event)

# Group Areas

Areas recursively represent the spaces available.

## Area with Descendants [/v1/areas/{id}/tree]

+ Parameters
  - id: house (string) - guid of area to return

+ Attributes (area)

### List Areas [GET]

+ Request
    + Headers
    
            Location: /v1/areas/house/tree

+ Response 200 (application/json)

    + Attributes
        - areas (house_tree)

# Group Reservations

## Area Reservations [/v1/areas/{id}/tree/reservations{?from,to}]

Return all reservatons for an area and its descendants.

+ Parameters
    - id: house (string) - area guid
    - from: `2015-11-21@17:54` (string) - lower bound
    - to: `2015-11-31@17:54` (string) - upper bound

+ Attributes
    - id: *MJHGT7* (string, required) - reservation guid
    - for: *kitchen* (string, required) - area guid
    - starts_at: *`2015-11-21@17:54`* (string) - commencement time
    - ends_at: *`2015-11-21@17:54`* (string) - termination time

### List Reservations [GET]

+ Response 200 (application/json)

    + Attributes
        - reservations (array[Area Reservations])

# Group Events

## Area Events [/v1/areas/{id}/events{?from,to}]

Return abbreviated event info for an area.

+ Parameters
    - id: house (string) - area guid
    - from: `2015-11-21@17:54` (string) - lower bound
    - to: `2015-11-31@17:54` (string) - upper bound

+ Attributes
    - id: *wedding* (string, required) - event guid
    - name: *Bob & Alice Get Hitched* (string)
    - starts_at: *`2015-11-21@17:54`* (string) - commencement time
    - ends_at: *`2015-11-21@17:54`* (string) - termination time

### List Events [GET]

+ Response 200 (application/json)

    + Attributes
        - events (array[Area Events])

## Event with Parts [/v1/events/{id}/tree]

Return an event and all its descendants.

+ Parameters
    - id: wedding (string) - event guid

+ Attributes (event)

### List Events [GET]

+ Response 200 (application/json)

    + Attributes
        - events (array[event])


# Data Structures

# position (object)
- x: *5* (number)
- y: *10* (number)

# size (object)
- width: *10* (number)
- height: *20* (number)

# area
- id: *FED210* (string, required) - object guid
- name: *The Oaks Castle* (string)
- image_url: *//i.io/t.svg* (string) - svg to load
- contains (array[child]) - child areas

# child
- id: *h9iAjB* (string) - area guid
- position (position) - in the containing Area
- size (size) - in the containing Area

# event
- id: *wedding* (string, required) - event guid
- in: *kitchen* (string, required) - area guid
- name: *Bob & Alice Get Hitched* (string)
- starts_at: *`2015-11-21@17:54`* (string) - commencement time
- ends_at: *`2015-11-21@17:54`* (string) - termination time
- adds (array[child]) - areas that exist for the event
- parts: toast, dinner, dance (array) - constituent event guids

# house_single
- id: house
- image_url: house.svg
- contains (array)
    - (object)
        - id: kitchen
        - position
            - x: 50 (number)
            - y: 50 (number)
        - size
            - width: 100 (number)
            - height: 50 (number)
    - (object)
        - id: den
        - position
            - x: 25 (number)
            - y: 20 (number)
        - size
            - width: 100 (number)
            - height: 50 (number)

# house_tree (array)
- (house_single)
- (object)
    - id: kitchen
    - image_url: kitchen.svg
- (object)
    - id: den
    - image_url: den.svg
    - contains (array)
        - id: tv
        - position
            - x: 25 (number)
            - y: 25(number)
        - size
            - width: 10 (number)
            - height: 10 (number)
- (object)
    - id: tv
    - image: tv.svg